{% extends "ThemeBundle:layout:base-layout.html.twig" %}

{% block page_title %}Customers{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {% form_theme form 'jquery.collection.html.twig' 'customer-theme.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            {% include '@Supplier/Profile/notification.html.twig' %}
            {% include '@Supplier/Profile/feedback.html.twig' %}
            <div class="box box-success">
                <div class="box-header with-border alert alert-info">
                    <h4>Please provide information about your current customers.</h4>
                    This section is used to understand the mix of your current customer base with regards to their industry vertical, length of time they have been a customer etc and helps us ensure there is a good fit to our customer's requirements.<br>
                    Please note if you do not want to reveal the name of the customer please just leave the field blank.
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {# <h3 class="box-title">Customer</h3> #}
                {{ form_start(form, {'attr': {'class': 'dirty-check', 'id':'customer_form'}}) }}
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.customers)}}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button  type="submit" class="btn btn-primary" onClick="customer_form" disabled>Save all customers</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts_inline %}
    {{ parent() }}
    <script type="text/javascript">
        var collections = [];
        $('.customer-collection').collection({
            add: '<button type="submit" class="btn btn-success">Add another customer</button>',
            remove: '<button type="button" class="btn btn-danger pull-right">Remove</button>',
            allow_add: true,
            allow_remove: true,
            allow_up: false,
            allow_down: false,
            min: 1,
            add_at_the_end: true,
            after_init: function (collection) {
                collection.children().each(function (index, element) {
                    collections.push($(element).attr('id'));
                });
                
                ////form title increase//

                var obj = $('.customer-collection .box.box-info .box-header.with-border');
                obj.each(function (index, ele) {                    
                    console.log(index);
                    temp = index + 1;
                    var str = "Customer " + temp;
                    temp = temp - 1;
                    var button_length = index * 2+1;
                    console.log($('.customer-collection .box.box-info .box-header.with-border .box-tools.pull-right>button:eq('+button_length+')'));
                    $('.customer-collection .box.box-info .box-header.with-border>h3:eq('+(temp)+')').html(str);
                    $('.customer-collection .box.box-info .box-header.with-border .box-tools.pull-right>button:eq('+button_length+')').on('click', function() {
                        var temp = index;
                        console.log(temp);
                        console.log("button_click");
                        console.log($('.customer-collection .box.box-info .box-body:eq('+(temp)+')').css('display'));
                        console.log($('.customer-collection .box.box-info .box-header.with-border>h3:eq('+(temp)+')'));
                        var str = "Customer " + (temp+1);
                        if($('.customer-collection .box.box-info .box-body:eq('+(temp)+')').css('display') == 'none' ) {
                            $('.customer-collection .box.box-info .box-header.with-border>h3:eq('+(temp)+')').html(str);
                        } else {
                            company_name = $("#supplierbundle_customer_customers_"+(temp)+"_name").val();
                            if(company_name == ''){
                                company_name = str;
                            }
                            $('.customer-collection .box.box-info .box-header.with-border>h3:eq('+(temp)+')').html(company_name);
                        }
                    });
                });
                //console.log(obj.length);
            },
            after_add: function(collection, element) {
                element.find('select').select2().trigger('change');
                //form set the title with name value
                
                //////
                //form name increase
                var obj = $('.customer-collection .box.box-info .box-header.with-border');
                var len = obj.length;
                
                var str = "Customer " + len;
                len = len - 1;                
                console.log('customer: ' + len);                
                $('.customer-collection .box.box-info .box-header.with-border>h3:eq('+len+')').html(str);
                len = len-1;
                var button_length = (len + 1) * 2+1;
                console.log($('.customer-collection .box.box-info .box-header.with-border .box-tools.pull-right>button:eq('+button_length+')'));
                $('.customer-collection .box.box-info .box-header.with-border .box-tools.pull-right>button:eq('+(button_length)+')').on('click', function() {
                    console.log($("#supplierbundle_customer_customers_1_name").val());
                    if($('.customer-collection .box.box-info .box-body:eq('+(len+1)+')').css('display') == 'none' ) {
                        $('.customer-collection .box.box-info .box-header.with-border>h3:eq('+(len+1)+')').html(str);
                    } else {
                        company_name = $("#supplierbundle_customer_customers_"+(len+1)+"_name").val();
                        if(company_name == ''){
                            company_name = str;
                        }
                        $('.customer-collection .box.box-info .box-header.with-border>h3:eq('+(len+1)+')').html(company_name);
                    }
                });
                //len = len -1;
                //console.log('collapse: ' + len);
                //$('.customer-collection .box.box-info:eq('+len+')').addClass('collapsed-box');
                //$('.customer-collection .box.box-info .box-header:eq('+len+')').css("display","block");
                //$('.customer-collection .box.box-info .box-tools .btn-box-tool .fa:eq('+len+')').addClass("fa-plus");
                //$('.customer-collection .box.box-info .box-tools .btn-box-tool .fa:eq('+len+')').addClass("fa-minus");
                /////////
                $('.dirty-check').find('button[type=submit]').removeAttr('disabled');
                $(".select2-search__field").attr("data-is-dirrty", "false");
                return true;
            },
            after_remove: function(collection, element) {
                $('.dirty-check').find('button[type=submit]').removeAttr('disabled');
                return true;
            }
        });
    </script>
{% endblock %}